/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0 0 0 0;
    font-size: 3.5rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #000000;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

footer {
    padding: 40px 0;
}

    footer .social {
        text-align: center;
        padding-bottom: 5px;
    }

        footer .social > a {
            font-size: 40px;
            width: 40px;
            height: 40px;
            display: inline-block;
            text-align: center;
            margin: 10px;
            color: inherit;
            opacity: 0.75;
        }

            footer .social > a:hover {
                opacity: 1;
            }

    footer .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        margin-bottom: 0;
    }