@model StardewGuide.ViewModels.VillagerDetailsViewModel


    <tr>
    <td><img src="~/lib/images/@(Model.ImageFileName)" alt="Villager Image" /></td>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.Birthday</td>

    </tr>
