@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/Views/Home/HomeStyleSheet.css"/>

@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a asp-controller="Account" asp-action="Profile">Hello @User.Identity.Name!</a>
        <a id="qsLogoutBtn" asp-controller="Account" asp-action="Logout">Logout</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Farms" asp-action="Index">My Farms</a>
    </li>
} else
{
    <button class="btn btn-primary" id="loginButton" asp-controller="Account" asp-action="Login">Login</button>
}



@*<button class="btn btn-primary" onclick="displayAlert()">Example alert</button>

@section Scripts{
    <script>
        function displayAlert(){
            Swal.fire("Example");
        }
    </script>
}*@
