@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/Views/Home/HomeStyleSheet.css"/>


<button class="btn btn-primary" id="loginButton">Login</button>


@*<button class="btn btn-primary" onclick="displayAlert()">Example alert</button>

@section Scripts{
    <script>
        function displayAlert(){
            Swal.fire("Example");
        }
    </script>
}*@
